body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.header-line {
    background-color: #1f1f56;
    padding-bottom: 21px;
    padding-top: 21px;
    margin-bottom: 15px;
}

.header-line a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
}


.navigation {
    display: flex;
    column-gap: 20px;
}


.sociality {
    display: flex;
    column-gap: 25px;
    align-items: center;
}





.wrapper {
    width: 80%;
    margin: auto;
    max-width: 960px;
    min-height: 100%;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    

}


.phone-numbers a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;

}


.emails a {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
}

.emails .email-no-underline {
    text-decoration: none;
    display: block;
}


.button {
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    padding: 12px 30px;
    text-decoration: none;
}



.items-center {
    align-items: center;
}


.phone {
    margin-bottom: 5px;
}


.month-proposition {
    background: linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Layer\ 74.png) ;
    padding-top: 60px;
    padding-bottom: 50px;
    background-size: cover;
    text-align: center;
}

.month-proposition h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}


.month-proposition p {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
}


.month-proposition strong {
    font-size: 40px;
    color: #fd8300;
}



.month-proposition span {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
}

.main h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}


.main p {
    font-size: 14px;
}


.main a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}
   


section img {
    justify-content: space-between;
    align-items: center;
}


section h2 {
    margin-bottom: auto;
}


aside ul {
    list-style-type: none;
}



.ul1 {
    text-align: left;
}


.ul2 {
    text-align: center;
}


footer {
    background-color:  #ededf5;
}


.project-cards {
    display: flex;
    justify-content: space-between;
}


figure {
    margin: 0;
}

section h2 {
    margin-bottom: 30px;
}


.flex {
    display: flex;
}


aside li > ul {
    display: none;
}



li:hover > ul {
    display: block;
}


aside li {
    background-color: #e4e4ec;
    padding: 18px 15px;
}


li:hover {
    background-color: #fd8300;
}

.aside li {
    background-color: #e4e4ec;

}